html,
body,
.main {
  height: 100%;
}

body {
  background: #20232b;
  margin: 30px;
}

:root {
  color: #f8f8f2;
  font-size: 18px;
  font-family: monospace;
}

.main {
  display: flex;
  flex-direction: column;
}

svg {
  display: block;
  margin: 20px 0;
}
