body {
  background: #20232b;
  margin: 30px;
}

:root {
  color: #f8f8f2;
  font-size: 18px;
  font-family: monospace;
}

.controls {
  display: flex;
}

.controls input {
  font-size: 24px;
  color: #fff;
  background: inherit;
  border: solid 2px #6f778c;
  padding: 10px;
}

.controls input:focus {
  background: #ffffff11;
  border-color: #fff;
  outline: none;
}

.controls input:not(:last-child) {
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

svg {
  display: block;
  margin: 20px auto;
}
